{% extends "base.html" %} 
{% load static %}

{% block title %} 
About Us
{% endblock %} 

{% block content %}

<main>
  
      <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">About Us</h1>
          <p class="text-justify fs-5">Papers and Pens is a family-owned business that sells quality office supplies magically sourced from the Nine Realms. Papers and Pens offers all kinds of paper, writing, and filing products to be used by any person, alien, god, or any cosmic entity out there! All products are magically manufactured from highly renewable and sustainable materials from all the different realms, promoting sustainability and eco-friendliness! Every product is made meticulously with love, passion, and magic, molded from unique designs from Asgardian tradition and Wakandan technology. When using our products you are tapping into the power of the multiverse, accessing different dimensions, and wielding power that matches the infinity stones.</p>
          <p class="text-justify fs-5"></p>
          <p class="text-justify fs-5">As we believe in giving back to the community and promoting positive societal change, 15% of all proceeds go to charitable endeavors and to the restoration of New Asgard.</p>
          <p class="text-justify fs-4 fw-bold">Our Address:</p>
          <p class="text-justify fs-5">0618 Wakanda, Lake Turkana, Marvel Multiverse</p>
          <a class="btn btn-primary btn-lg" type="button" href="/all-products">Shop now!</a>
        </div>
      </div>

{%endblock%}