{% extends "base.html" %} 
{% load static %}

{% block title %} 
Papers and Pens
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "store/index.css" %}" />
{% endblock %}

{% block content %}
<main>
    <section class="py-5 text-center container">
      <div class="row py-lg-3">
        <div class="col-lg-6 col-md-8 mx-auto">
        <img class="img-fluid" alt="" src="{% static "store/images/store_logo.png" %}" width=250px;height=250px>
          <h1 class="h1 fw-bold">Welcome to Papers and Pens!</h1>
          <p class="lead text-muted">Papers and Pens is the store for all your paper, writing, and filing needs! Browse through all our quality and affordable products with just a few clicks.</p>
          <p class="font-weight-bold"><b>WANDA<u>VISION</u></b></p>
          <p class="lead text-muted">Whether you’re a writer, office worker, or everyday hero, our products will definitely make you reach unimaginable heights! </p>
          <p>
            <a href="{% url "account:register" %}" class="btn btn-primary my-2">Register</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="pb-3 h5">All Products</div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
  
          {% for product in products %}
  
          <div class="col">
            <div class="card shadow-sm">
              <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
              <div class="card-body">
                <p class="card-text">
                  <a class="text-dark text-decoration-none" href="{{product.get_absolute_url}}">{{ product.title }}</a>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{product.description}}</small>
                </div>
              </div>
            </div>
          </div>
  
          {% endfor %}
  
        </div>
      </div>
    </div>
  </main>
{% endblock %}